
<!-- Page Wrapper -->
<div id="wrapper">
    <%= render 'shared/side' %>
    <%= render 'shared/nav' %>

    <h1>Editing Request</h1>

    <%= render 'form', request: @request %>
    
    <%= link_to 'Show', @request %> |
    <%= link_to 'Back', requests_path %>
    



    <%= render 'shared/foo' %>
</div>
