
<!-- Page Wrapper -->
<div id="wrapper">
    <%= render 'shared/side' %>
    <%= render 'shared/nav' %>

    <h1>New Request</h1>

    <%= render 'form', request: @request %>
    
    <%= link_to 'Back', requests_path %>


    <%= render 'shared/foo' %>
</div>


