
<!-- Page Wrapper -->
<div id="wrapper">
    <%= render 'shared/side' %>
    <%= render 'shared/nav' %>
    <h1>New Project</h1>

    <%= render 'form', project: @project %>

    <%= link_to 'Back', projects_path %>
    <%= render 'shared/foo' %>
</div>



